@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root { 

    --title-font: 'Oswald', sans-serif;
    --text-font: 'Source Sans Pro', sans-serif; 
    --navbar-height: 15vh;
  
    --bg-primary: #011638;
    --bg-secondary:#104F55;
    --details:#A5A5A5 ;
    --bg-white: #FFFBFF; 
    --text-color:#011638;
    --text-color-reverse: #FFFBFF;
    --btn-color: #D3A656;
    --details-2:#5C9EAD;
    --details-3: #BAABBD;
}

#contact {
  
    background: -moz-linear-gradient(top, #23527A 0%, #011638 100%);
    background: -webkit-linear-gradient(top, #23527A 0%, #011638 100%);
    background: linear-gradient(to bottom, #23527A 0%, #011638 100%);
   
}

.section-title.contact-title {
    color: var(--text-color-reverse);
  }

.contact-input {
    background-color: transparent;
    font-family: 'Source Sans Pro', sans-serif; 
    border-radius: 0;
    border-bottom: 1px solid #011638;
    border-top: 0px solid transparent ;
    border-right: 0px solid transparent ;
    border-left: 0px solid transparent ;
   }

   .contact-input:hover,
   .contact-input:active,
   .contact-input:focus {
    background-color: transparent;
   }

 .form-control:focus.contact-input {
    box-shadow: none;
    border-bottom: 1px solid var(--btn-color);
  }

  .form-label.contact-label {
    color: var(--text-color-reverse);
  }


 
/* .form-control:active {
    box-shadow: none;
    border-bottom: 3px solid #011638;
  } */

  textarea:hover, 
  input:hover, 
  textarea:active, 
  input:active, 
  textarea:focus, 
  input:focus,
  button:focus,
  button:active,
  button:hover,
  label:focus,
  .btn:active,
  .btn.active
  {
      outline:0px !important;
      -webkit-appearance:none;
      box-shadow: none !important;
  }