:root { 
    --title-font: 'Libre Baskerville', serif;
    --text-font: 'Source Sans Pro', sans-serif; 
  
    /* vs4 */
    --bg-primary: #011638;
    --bg-secondary:#104F55;
    --details:#A5A5A5 ;
    --bg-white: #FFFBFF; 
    --text-color:#011638;
    --text-color-reverse: #FFFBFF;
    --btn-color: #D3A656;
    --details-2:#5C9EAD;
    --details-3: #BAABBD;

}

.logo {
    width: 40%;
}

nav {
    background-color: var(--bg-primary);
    /* background-image: url('/images/Fond.jpg'); */
}

.nav-link {
    color: var(--text-color-reverse) ;
    text-transform: uppercase;
    transition: transform 0.2s;   
}

.nav-link:hover {
    color: var(--btn-color);
    transform: scale(1.1); 
}

