@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

:root { 

    --title-font: 'Oswald', sans-serif;
    --text-font: 'Source Sans Pro', sans-serif; 
    --navbar-height: 15vh;
  
    --bg-primary: #011638;
    --bg-secondary:#104F55;
    --details:#A5A5A5 ;
    --bg-white: #FFFBFF; 
    --text-color:#011638;
    --text-color-reverse: #FFFBFF;
    --btn-color: #D3A656;
    --details-2:#5C9EAD;
    --details-3: #BAABBD;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    background-color: var(--bg-white);   
    font-size: 16px; 
}
.admin-nav-logo {
  width: 50%;
}
/* .portfolio {
    background-color: var(--bg-primary);
} */

/* #partnerCarousel{
  height: 40vh;
} */
.carousel-inner {
    background-color: var(--bg-white) ;
    /* background-color: var(--details-3) ; */
    height: 30vh;
}
.carousel-img {
    width: 100%;
    object-fit: fill;
    padding: 30px;
}
.carousel-title {
    color: var(--text-color-reverse);
    font-size: 2rem;
    font-family: var(--title-font);    
}
.carousel-text {
    color: var(--text-color);
    font-size: 1rem;
    font-family: var(--text-font);  
    /* margin-block-start: 2em !important;
    margin-inline-start: 20em !important;
    margin-inline-end: 20em !important; */
}
.carousel-text h3, h4, p {
  padding-bottom: 1.2rem;
}
.carousel-text p {
  font-style: italic;
}
 #portfolioCarousel {
    height: 78vh;
    padding: 5vh 0;
}
.test-button {
    background-color: var(--btn-color);
    color: var(--bg-white);
    font-family: var(--text-font);
    font-size: 0.9rem;
    font-weight: 400;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1rem 3rem;
    border-radius: 60px;  
    transition: 0.5s; 
    cursor: pointer;    
}
.test-button:hover {
    background-color: var(--bg-white);
    color: var(--btn-color);
    text-decoration: none;
    border: 2px solid var(--btn-color);
    transition: 0.5s;  
    font-weight: 600;     
}

 /*---------------------------- GENERAL------------------------------------- */
#prof-service, #prof-realisations, #mentions-legales, #contact, #partners {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.section-title {
  font-size: 3rem;
  /* font-weight: 400; */
  font-family: var(--title-font);
  padding-bottom: 10vh;
  padding-top: 10vh;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 400;
  color: var(--text-color);
  font-family: 'Oswald', sans-serif;
}

 /*---------------------------- INTRODUCTION------------------------------------- */

#introduction {
  background-color: var(--bg-primary);
}
.intro-prof {
  background-image: url(../images/SH156AX_ambiance_.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
}
.intro-particulier {
  background-image: url(../images/exterieur_v1_.jpg);
  height: 90vh;
  background-size: cover;
  background-repeat: no-repeat; 
  position: relative;
}
.intro-logo {
  background-color: var(--bg-primary);
  height: 90vh;
}
.intro-title {
  color: var(--bg-white);
  padding: 2rem;
  font-size: 3rem;
  font-family: 'Oswald', sans-serif;
}
/* .intro-title:hover {
  color: var(--btn-color);
} */
.btn-prof, .btn-particulier {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

 /*---------------------------- PROFESSIONNEL------------------------------------- */

 /* Service section */
 .section-title.portfolioProf {
  color: var(--text-color); 
}
/* Service card */
.icon-container {
  width: 300px;
  height: 300px;
  background-color: var(--details);
  border-radius: 50%;
}

.icon-img {
  object-position: 50% 50%;
  width: 100%;
  padding: 5rem;
}

/* Realistaions Card */
.realisation-project-img{
  width: 100%;
}

.realisation-img-card {
  padding: 0;
}

.realisation-description-card {
  padding: 0 2rem;
}

.row-realisation:nth-child(odd) {
  text-align: right !important;
 }

 /*---------------------------- FOOTER------------------------------------- */
 footer {
  height: 15vh;
  width: 100%;
  background-color: var(--bg-primary);
  color: var(--bg-white);
}
footer .phoneNo {
  color: var(--bg-white);
  padding-left: 10px;
  font-size: 1.5rem;
}
footer a {
  text-decoration: none;
  color: var(--text-color-reverse);
}
footer a:hover {
  color: var(--btn-color);
}

@media screen and (min-width: 959px) { 
  .legales {
    text-align: center;
  }
 }

 /*---------------------------- MENTIONS LEGALES------------------------------------- */
#mentions-legales h2 {
  font-family: var(--title-font);
  font-size: 1.8rem;
  color: var(--text-color);
}
#mentions-legales p {
  font-family: var(--text-font);
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.5;
}
#mentions-legales h1 {
  color: var(--text-color);
}
#mentions-legales h6{
  color: var(--text-color);
  font-size: 1.2rem;
  padding-bottom: 1rem;
}







