{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}

<a href="{{ path('app_admin_newCat')}}">Nouvelle categorie</a>
<a href="{{ path('app_admin_newProject')}}">Nouveau projet</a>
<a href="{{ path('app_admin_projects')}}">tous les projets</a>



{% endblock %}
