        <a class="home-link" href="/">
            <div class="navbar-logo">
            </div>
        </a>

        <div id="toggle-icon" >
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>

        <div id="navbar-menu">
            <ul class="navbar-links">
                <li class="navbar-item">
                    <a class="navbar-link container" href="/client/professionnel">Professionnels</a>
                </li>
                            <li class="navbar-item">
                    <a class="navbar-link container" href="{{path('app_client_partic')}}">Particuliers</a>
                </li>
                            <li class="navbar-item">
                    <a class="navbar-link container" href="#">Services</a>
                </li>
                            <li class="navbar-item">
                    <a class="navbar-link container" href="{{ path('app_home')}}#contact">Contact</a>
                </li>
                {% if is_granted('ROLE_ADMIN') %}

				<li class="navbar-item">
					<a class="navbar-link" href="{{ path('app_admin')}}">tableau de bord</a>
				</li>
			{% endif %}
            </ul>
        </div>








			
