<section id="introduction">
    <div class="row  text-center align-items-center" >
        <div class="col intro-prof  ">
            <a class="test-button btn-prof" href="">button prof</a>
        </div>
        <div class="col intro-particulier">
             <a class="test-button btn-particulier" href="">button partic</a>
        </div>
    </div>
</section>